<a href="https://colab.research.google.com/github/Vhyvean/alx-pre_course/blob/master/loc_and_iloc_DataFrame_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Create the DataFrame
# Create a dictionary called 'data' containing employee details
# Each key represents a column name, and each list represents the column values
data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10,4]
}
employee_df = pd.DataFrame(data) # Converts the dict into a pandas DataFrame (employee_df)

# Display the full data frame
print("Employee DataFrame:")
print(employee_df)
print()

# Use iloc method to select the first 3 rows
# [:3] means from the start (0) up to index 3 (not including 3)
print(" First 3 rows (using iloc):")
print(employee_df.iloc[:3])
print()

# Use loc method to select rows where Department is "Marketing"
# employee_df['Department'] == 'Marketing creates a True/False mask
print("Rows where Department is Marketing (using loc):")
print(employee_df.loc[employee_df['Department'] == 'Marketing'])
print()

# Use iloc method to select Age and Gender columns for the first 4 rows
# Age = column index 2, Gender = column index 3
# [:4] selects the first 4 rows; [2, 3] selects columns at position 2 (Age) and 3 (Gender)
print("Age and Gender columns for the first 4 rows (using iloc):")
print(employee_df.iloc[:4, [2, 3]])
print()

# Use loc method to select Salary and Experience for rows where Gender is "Male"
# loc[row_conditions, [specific_columns]]
# This filters rows where Gender is 'Male' and selects only the given columns
print("Salary and Experience for rows where Gender is Male (using loc):")
print(employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']])
print("\n Task completed successfully!")

Employee DataFrame:
    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4

 First 3 rows (using iloc):
   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

Rows where Department is Marketing (using loc):
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

Age and Gender columns for the first 4 rows (using iloc):
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

Salary and Experience for rows where Gender is Male (using loc):
   Salary  Experience
0   50000           3
2   45000           2
4   70000          10

 Task completed successfully!